.hero_stat_main {
    background-color: #1C242D;
}

.hero_wrap {
    width: 84%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.hero_header_wrap {
    width: 100%;
}

.hero_header_background {
    width: 80%;
    height: 28%;
    object-fit: cover;
    filter: blur(8px);
    position: absolute;
    left: 10%;
    opacity: .35;
}

.hero_header {
    display: flex;
    align-items: center;
    padding: 5vh 8vh;
    position: relative;
    z-index: 2;
}

.hero_image {
    width: 25%;
    border-radius: 16px;
}

.hero_name_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
}

.hero_name {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 4%;
}

.hero_roles {
    font-size: 20px;
    font-weight: 600;
}

.role {
    font-size: 18px;
    font-weight: 400;
    opacity: .8;
}

.hero_base_stats_container {
    width: 17%;
    height: 16vh;
    background-color: rgba(10, 15, 15, .5);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 14%;
}

.hero_base_stats_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: .3vh 0;
}

.base_stat_value {
    margin-left: 1.5vh;
}

.str {
    color: red;
}

.agi {
    color: green;
}

.int {
    color: dodgerblue;
}

.hero_stats_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10%;
}

.hero_stat_block_light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34vh;
    height: 5vh;
    background-color: #242F39;
}

.hero_stat_block_dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34vh;
    height: 5vh;
    background-color: #192127;
}

.stat_description {
    margin-left: .8vh;
    opacity: .7;
    font-size: 15px;
}

.stat_value {
    margin-right: .8vh;
    font-size: 16px;
    font-weight: 700;
}