.header {
    height: 9vh;
    background-color: #242F39;
    display: flex;
    align-items: center;
}

.header_wrap {
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_nav_container {
    width: 8em;
    height: 2em;
    background-color: #ED3B1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_nav {
    font-size: 20px;
    font-weight: 500;
}

.header_navigation {
    display: flex;
}